* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home {
  min-height: 100vh;
  width: 100%; }

.circular-chart {
  width: 100%;
  border-radius: 50%;
  background-color: green; }

.circular-bg {
  fill: none; }

.circle {
  fill: none; }

.progressBar {
  position: fixed;
  background-color: inherit;
  padding: 0;
  border-radius: 50%;
  top: 8%;
  left: 30%;
  z-index: 2; }

.progress {
  position: fixed; }

.section1 {
  height: 100vh;
  background-color: black;
  display: flex; }
  .section1-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #15253a; }
  .section1-right {
    width: 55%;
    max-height: 100%;
    background-color: #0d131a;
    position: relative;
    overflow: hidden; }

.img {
  position: absolute; }
  .img1 {
    top: -13.5%;
    left: 0%; }
  .img2 {
    top: -21%;
    right: 2%; }
  .img3 {
    width: 25%;
    top: 14%;
    right: 20%; }
  .img4 {
    width: 30%;
    bottom: 0;
    left: 8%; }
  .img5 {
    width: 35%;
    right: -3%;
    bottom: -10%; }

.img-main {
  position: absolute; }
  .img-main-sec3 {
    position: absolute;
    width: 40%;
    bottom: 42%;
    left: 8%; }

.circle_text {
  position: absolute;
  width: 51%;
  top: 23%;
  left: 50%;
  color: white;
  z-index: 3; }
  .circle_text_sec2 {
    width: 75%;
    left: 28%;
    top: 25%; }
  .circle_text_sec3 {
    width: 42%; }
  .circle_text_sec5 {
    width: 55%; }
  .circle_text_sec7 {
    width: 38%;
    top: 24%;
    left: 60%; }
  .circle_text-1 {
    font-size: 1.5rem; }
  .circle_text-head {
    font-size: 3rem; }
    .circle_text-head_sec2 {
      font-size: 3.2rem; }
  .circle_text-2 {
    font-size: 1.5rem;
    text-align: end; }
    .circle_text-2_sec2 {
      font-size: 1.2rem; }
    .circle_text-2_sec4 {
      padding-top: 5rem; }

.bottom-text {
  color: white;
  position: absolute;
  width: 34%;
  bottom: 3%;
  left: 10%; }
  .bottom-text-head {
    font-size: 3rem; }
  .bottom-text-1 {
    padding: 1rem 0rem; }
  .bottom-text-2 {
    padding-top: 3rem; }

.icon {
  color: white;
  margin-left: 1rem; }

.skip {
  position: absolute;
  bottom: 3%;
  right: 10%; }
  .skip-text {
    letter-spacing: 8px;
    color: white; }

.section2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section2-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #6212a8; }
  .section2-right {
    width: 55%;
    max-height: 100%;
    background-color: #cbcbcd;
    position: relative;
    overflow: hidden; }

.sec2_img {
  position: absolute; }
  .sec2_img1 {
    width: 45%;
    top: 10%;
    right: 50%; }
  .sec2_img2 {
    width: 45%;
    top: 10%;
    right: 10%; }

.section3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section3-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #4926cc; }
  .section3-right {
    width: 55%;
    max-height: 100%;
    background-color: #170361;
    position: relative;
    overflow: hidden; }

.sec3_img {
  position: absolute; }
  .sec3_img1 {
    width: 30%;
    bottom: 0%;
    left: 25%; }
  .sec3_img2 {
    width: 30%;
    top: 0%;
    right: 00%; }

.section4 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section4-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #0e1139; }
  .section4-right {
    width: 55%;
    max-height: 100%;
    background-color: #141647;
    position: relative;
    overflow: hidden; }

.sec4_img {
  position: absolute; }
  .sec4_img1 {
    z-index: 1;
    width: 30%;
    top: 25%;
    left: 30%; }
  .sec4_img2 {
    width: 20%;
    top: -5%;
    right: 5%; }

.section5 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section5-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #1213e7; }
  .section5-right {
    width: 55%;
    max-height: 100%;
    background-color: #22cfe9;
    position: relative;
    overflow: hidden; }

.sec5_img {
  position: absolute; }
  .sec5_img1 {
    z-index: 1;
    width: 25%;
    top: -15%;
    left: 20%; }
  .sec5_img2 {
    width: 25%;
    top: 0%;
    left: 50%; }
  .sec5_img3 {
    width: 25%;
    bottom: 0%;
    left: 20%; }
  .sec5_img4 {
    width: 25%;
    top: 20%;
    right: 0; }
  .sec5_img5 {
    width: 20%;
    bottom: -5%;
    left: 45%; }

.section6 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section6-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #012b91; }
  .section6-right {
    width: 55%;
    max-height: 100%;
    background-color: #00b668;
    position: relative;
    overflow: hidden; }

.sec6_img {
  position: absolute; }
  .sec6_img1 {
    z-index: 1;
    width: 100%;
    bottom: 0%;
    left: 0%; }
  .sec6_img2 {
    width: 200%;
    top: 0%;
    left: 0%; }

.section7 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex; }
  .section7-left {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #00824b; }
  .section7-right {
    width: 55%;
    max-height: 100%;
    background-color: #00b668;
    position: relative;
    overflow: hidden; }

.sec7_img {
  position: absolute; }
  .sec7_img1 {
    z-index: 1;
    width: 40%;
    bottom: 0%;
    left: 25%; }
  .sec7_img2 {
    width: 33%;
    bottom: 0%;
    right: 13%; }
